.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .20s linear;
    -o-transition: all .20s linear;
    transition: all .20s linear;
}
.article-view-content img{
    max-width: 100% !important;
}

.in .fade-scale {
    opacity: 1;
    transform: scale(1);
}
.form-control{

}

.text-warning {
    color: #f39c12 !important;
}

.text-success {
    color: #00a65a !important;
}
